// インポートファイル
@import 'settings/color';
@import 'settings/animation';

$header-height: 50px;
$content-width: 960px;
$footer-height: 100px;
$menu-height: 40px;


// レイアウトスタイル
header{
    height: $header-height;
    background-color: $main-color;
	padding: 0 20px;
    width: 100%;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.3);

    // FIX固定のスタイル
    &.fixed{
        top: 0;
        position:fixed;
        z-index: 1000;
        background: rgba(255, 255, 255, 0.98);
        animation: slideDown .3s;
        >.header-inner >a{
            color: #333;
        }
        >.header-inner >.header-item{
            color: #333;
        }
    }

    >.header-inner{
        display: flex;
        align-items: center;
        width: $content-width;
        margin: 0 auto;
        font-size: 18px;
        height: 100%;
        >a{
    		color: #fff;
            &:hover{
                text-decoration: none;
            }
        }
        >.header-item{
            margin-left: auto;
            height: 100%;
            display: flex;
            align-items: flex-end;
            font-size: 14px;
            color: #fff;
            position: relative;
            >.link{
                cursor: pointer;
                margin-bottom: 6px;
                &:after{
                    content: '▼';
                    font-size: 11px;
                    margin: 0px 0 2px 3px;
                }
            }
            >.menu{
                display:none;
                background: #f9f9f9;
                font-size: 13px;
                margin: 0;
                position: absolute;
                top: $header-height + 1px;
                right: 0;
                width: 120px;
                min-height: $menu-height;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.2);
                overflow: auto;
                padding: 7px 0;
                &.open{
                    display:block;
                }
                >li a{
                    padding: 5px 5px 5px 10px; 
                    text-decoration: none;
                    display: block;
                    &:hover{
                        background-color: #f1f1f1;
                    }
                }
            }
        }
    }
}

.main-container{
    // FIX固定のスタイル
    &.fixed-margin{
        margin-top: $header-height;
    }
    >.content{
        margin: 0 auto;
        min-height: calc(100vh - #{$header-height} - #{$footer-height});
        width: $content-width;
        padding: 30px 0;
        // フラッシュメッセージ
        .message{
            padding: 10px;
            &.success{
                background-color: lightYellow;
                border: 1px solid #E6DB55;
            }
            &.error{
                background-color: #fde7e7;
                border: 1px solid #e65555;
            }
        }
    }
}

footer{
    background: #ddd;
    height: $footer-height;
    display: flex;
    align-items: center;
    >.footer-inner{
        width: $content-width;
        margin: 0 auto;
    }
}
