/* ------------------------------------------
// 共通スタイル
--------------------------------------------*/

.user-form-add,
.user-form-confirm,
.user-form-thanks{

	$content-width:600px;

    min-height: 100vh;
    width: 100%;
    min-width: $content-width;
	display: flex;
	align-items: center;
	background: #e3e3e3;
    .section{
		width: $content-width;
		margin: 0 auto;
		padding: 30px;
		background: #FFF;
		border-radius: 5px;
		border: 1px solid #D8DDE6;
	}
    h1{
		margin: 0 0 10px;
		font-size: 20px;
		padding-bottom: 20px;
		font-weight: 500;
		text-align: center;
    }
}

/* ------------------------------------------
// ユーザー追加 STEP1
--------------------------------------------*/

.user-form-add{
	.error{
		color: #f21313;
		font-weight: bold;
		margin-bottom: 10px;
	}
	dl{
		display: flex;
		align-items: baseline;
		margin-bottom: 30px;
		dt{
			flex: 0 0 150px;
			font-weight:500;
		}
		dd{
			flex: 1 1 auto;
			.error-message{
				margin: 3px;
				color: #f21313;
			}
    		input{
				height: 40px;
    		}
		}
	}
    .submit-btn{
    	margin: 20px 0 15px;
    	text-align: center;
    	button{
			color: #FFF;
			font-size: 16px;
			padding: 12px;
			font-weight: bold;
			background: #ff6d4f;
			border: 1px solid #ff6d4f;
			width: 280px;
			&:hover,
			&:focus,
			&:active{
				background-color: #de5e43;
				border-color:#de5e43;
			}
    	}
    }
    .login-link{
    	text-align: center;
    }
}


/* ------------------------------------------
// ユーザー追加 STEP2
--------------------------------------------*/

.user-form-confirm{
	p{
		margin: 3px 0;
	}
	dl{
		display: flex;
		align-items: baseline;
		margin-bottom: 35px;
		dt{
			flex: 0 0 150px;
			font-weight:500;
		}
		dd{
			flex: 1 1 auto;
			.error-message{
				margin: 3px;
				color: #f21313;
			}
    		input{
				height: 40px;
    		}
		}
	}

	.confirm-btns{
		margin-top: 25px;
		display: flex;
		justify-content: center;

		>.btn{
			font-size: 16px;
			padding: 12px;
			width: 200px;
		}
		>.back{
			&:hover,
			&:focus,
			&:active{
				background-color: #cacaca;
			}
		}
		>.add{
			margin-left: 15px;
			color: #FFF;
			font-weight: bold;
			background: #ff6d4f;
			border: 1px solid #ff6d4f;
			&:hover,
			&:focus,
			&:active{
				background-color: #de5e43;
				border-color:#de5e43;
			}
		}
	}
}