@charset "UTF-8";
/* ------------------------------------------
// 共通スタイル
--------------------------------------------*/
.user-form-add,
.user-form-confirm,
.user-form-thanks {
  min-height: 100vh;
  width: 100%;
  min-width: 600px;
  display: flex;
  align-items: center;
  background: #e3e3e3; }
  .user-form-add .section,
  .user-form-confirm .section,
  .user-form-thanks .section {
    width: 600px;
    margin: 0 auto;
    padding: 30px;
    background: #FFF;
    border-radius: 5px;
    border: 1px solid #D8DDE6; }
  .user-form-add h1,
  .user-form-confirm h1,
  .user-form-thanks h1 {
    margin: 0 0 10px;
    font-size: 20px;
    padding-bottom: 20px;
    font-weight: 500;
    text-align: center; }

/* ------------------------------------------
// ユーザー追加 STEP1
--------------------------------------------*/
.user-form-add .error {
  color: #f21313;
  font-weight: bold;
  margin-bottom: 10px; }

.user-form-add dl {
  display: flex;
  align-items: baseline;
  margin-bottom: 30px; }
  .user-form-add dl dt {
    flex: 0 0 150px;
    font-weight: 500; }
  .user-form-add dl dd {
    flex: 1 1 auto; }
    .user-form-add dl dd .error-message {
      margin: 3px;
      color: #f21313; }
    .user-form-add dl dd input {
      height: 40px; }

.user-form-add .submit-btn {
  margin: 20px 0 15px;
  text-align: center; }
  .user-form-add .submit-btn button {
    color: #FFF;
    font-size: 16px;
    padding: 12px;
    font-weight: bold;
    background: #ff6d4f;
    border: 1px solid #ff6d4f;
    width: 280px; }
    .user-form-add .submit-btn button:hover, .user-form-add .submit-btn button:focus, .user-form-add .submit-btn button:active {
      background-color: #de5e43;
      border-color: #de5e43; }

/* ------------------------------------------
// ユーザー追加 STEP2
--------------------------------------------*/
.user-form-confirm p {
  margin: 3px 0; }

.user-form-confirm dl {
  display: flex;
  align-items: baseline;
  margin-bottom: 35px; }
  .user-form-confirm dl dt {
    flex: 0 0 150px;
    font-weight: 500; }
  .user-form-confirm dl dd {
    flex: 1 1 auto; }
    .user-form-confirm dl dd .error-message {
      margin: 3px;
      color: #f21313; }
    .user-form-confirm dl dd input {
      height: 40px; }

.user-form-confirm .confirm-btns {
  margin-top: 25px;
  display: flex;
  justify-content: center; }
  .user-form-confirm .confirm-btns > .btn {
    font-size: 16px;
    padding: 12px;
    width: 200px; }
  .user-form-confirm .confirm-btns > .back:hover, .user-form-confirm .confirm-btns > .back:focus, .user-form-confirm .confirm-btns > .back:active {
    background-color: #cacaca; }
  .user-form-confirm .confirm-btns > .add {
    margin-left: 15px;
    color: #FFF;
    font-weight: bold;
    background: #ff6d4f;
    border: 1px solid #ff6d4f; }
    .user-form-confirm .confirm-btns > .add:hover, .user-form-confirm .confirm-btns > .add:focus, .user-form-confirm .confirm-btns > .add:active {
      background-color: #de5e43;
      border-color: #de5e43; }
