body {
  background: #BBB;
  padding:8px;
  margin:0; }

.container {
  flex-direction: columm;
  background: #bbb;
  display: flex; }
.button{
background:blue;
width:440px;
margin:auto;
text-align:center;
padding:20px 0;
transition: all .2s ease-out .05s;
}
.button a{
	cursol:pointer;
color:#FFF;
display:block;
}
.button:hover{
animation:hoverAction .2s;
    transition: all .2s ease-out .05s;
}

.dis0,.dis1,.dis2{
	animation:fadein .8s;
	opacity:1;
}

@keyframes fadein{
0%{
	opacity:.1;
	transform:translateY(-10px);
}
100%{
	opacity:1;
		transform:translateY(1);
}
}

@keyframes hoverAction{
	0%{
		opacity:0.5;
		transform:scale(1.07,1.07);
	}
	100%{
		opacity:1;
		transform:scale(1);
	}
}

table{
	position:relative;
}